# Python cache & logs
__pycache__/
*.py[cod]
*.log
*.out

# Virtual environments
.venv/
env/
venv/

# Data & models (if large or private)
# data/
# models/*.pkl

# IDE / Editor configs
.idea/
.vscode/
*.iml
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
